<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to Home Page of YelpCamp</h1>
        <script src=""></script>
    </body>
</html>