<% layout('layouts/boilerplate') %> 
<h1>All the Campgrounds are as follows:</h1>
<ul>
    <% for(let campground of allCampgrounds) {%>
        <li> <a href="/campgrounds/<%= campground._id  %>"><%= campground.title %></a> </li>
    <% } %>  
</ul>

<button onclick="location.href='/campgrounds/new'">Add New Campground</button>
