<!DOCTYPE html>
<html>
    <head>
        <title>Campgrounds</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>All the Campgrounds are as follows:</h1>
        <ul>
            <% for(let campground of allCampgrounds) {%>
                <li> <a href="/campgrounds/<%= campground._id  %>"><%= campground.title %></a> </li>
            <% } %>  
        </ul>
        
        <button onclick="location.href='/campgrounds/new'">Add New Campground</button>
        
        <script src=""></script>
    </body>
</html>