<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label class="form-lable" for="title">Title: </label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="enter title.."
          required
        />
        <div class="valid-feedback">Looks Alright!!</div>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="enter location.."
          required
        />
        <div class="valid-feedback">Looks Alright!!</div>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="image">Image URL:</label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          placeholder="enter image url.."
          required
        />
        <div class="valid-feedback">Looks Alright!!</div>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="price">Price:</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            name="campground[price]"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
        </div>
        <div class="valid-feedback">Looks Alright!!</div>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="description">Description:</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          placeholder="enter description.."
          required
        ></textarea>
        <div class="valid-feedback">Looks Alright!!</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>

    <button class="btn btn-dark" onclick="location.href='/campgrounds'">
      Go Back to All Campground
    </button>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
