<% layout('layouts/boilerplate') %> 
        <h2>Information about <i><%= currCampground.title %></i> : </h2>
        <ul>
            <li><b>location :</b> <%= currCampground.location %>  </li>
        </ul> 

        <button onclick="location.href='/campgrounds/<%= currCampground._id %>/edit'">Edit This Campground</button><br><br>
        
        <form action="/campgrounds/<%=currCampground._id%>?_method=DELETE" method="POST">
            <button>Delete This Campground</button>
        </form><br><br>
        <button onclick="location.href='/campgrounds'">Go to All Campgrounds</button>

<% layout('../layouts/boilerplate') %> 